<div class="flex flex-col gap-16">
    <div class="flex flex-col gap-4">
        @if (currentSection === 'email') {
        <div>
            <h1>Email</h1>
            <app-input icon="email" type="text" placeholder="Seu email..."></app-input>
        </div>
        } @else if (currentSection === 'code') {
        <div>
            <h1>Código de Recuperação</h1>
            <app-input icon="lock" type="text" placeholder="Código de recuperação..."></app-input>
        </div>
        } @else if (currentSection === 'newPassword') {
        <div>
            <h1>Nova Senha</h1>
            <app-input icon="lock" [canToggleVisible]="true" type="text" placeholder="Sua nova senha..."></app-input>
        </div>
        } @else {
            <div></div>
        }
    </div>
    <div>
        @if (currentSection !== 'email') {
        <button (click)="backSection()" class="cursor-pointer w-full text-lg px-4 py-2 bg-text-black/10 text-text-black rounded-lg mb-4">
            Voltar
        </button>
        }
        <button (click)="advanceSection()" class="cursor-pointer w-full text-lg px-4 py-2 bg-primary text-text-white rounded-lg">
            Enviar
        </button>
    </div>
</div>