<div class="w-full h-screen bg-background">
    <div class="px-6 pt-10 flex flex-col gap-2">
        <h1 class="text-4xl text-text-black">AiEditor</h1>
        <p class="text-text-black/70">Bem-vindo de volta! Por favor, faça login na sua conta.</p>
    </div>
    <div class="px-8 pb-16 pt-10 flex flex-col gap-6">
        <div class="flex items-end gap-x-4">
            @for (section of sections; track section){
                @if (currentSection === section){
                    <h1 class="text-2xl text-primary underline">{{ section }}</h1>
                } @else {
                    <h1 (click)="switchSection(section)" class="text-2xl text-text-black cursor-pointer">{{ section }}</h1>
                }
            }
        </div>
        <!-- <div class="border-b-2 border-b-text-black/40"></div> -->
        <div class="flex flex-col gap-16">
            <div class="flex flex-col gap-4">
                <div>
                    <h1>Email</h1>
                    <app-input icon="email" type="text" placeholder="Seu email..."></app-input>
                </div>
                <div>
                    <h1>Senha</h1>
                    <app-input icon="lock" [canToggleVisible]="true" type="text" placeholder="Sua senha..."></app-input>
                </div>
            </div>
            <!-- <div>
                <button class="relative text-sm font-semibold text-primary cursor-pointer group">
                Esqueci minha senha

                <span class="absolute left-0 -bottom-1 h-[1.5px] w-full bg-primary scale-x-0 origin-left transition-transform duration-300 group-hover:scale-x-100"></span>
                </button>
            </div> -->
            <div>
                <button class="cursor-pointer w-full text-lg px-4 py-2 bg-primary text-text-white rounded-lg">
                    Entrar
                </button>
            </div>
        </div>
    </div>
</div>