<div class="w-full h-screen bg-background">
    <div class="px-6 pt-10 flex flex-col gap-2">
        <h1 class="text-4xl text-text-black">AiEditor</h1>
        <p class="text-text-black/70">Bem-vindo de volta! Por favor, faça login na sua conta.</p>
    </div>
    <div class="px-8 pb-16 pt-10 flex flex-col gap-6">
        <div class="flex items-end gap-x-4">
            @for (section of sections; track section){
                @if (currentSection === section){
                    <h1 class="text-md text-primary underline">{{ section }}</h1>
                } @else {
                    <h1 (click)="switchSection(section)" class="text-md text-text-black cursor-pointer">{{ section }}</h1>
                }
            }
        </div>
        <div>
            @if (currentSection === 'Login'){
                <app-login></app-login>
            } @else if (currentSection === 'Esqueci minha senha') {
                <app-forgot-password></app-forgot-password>
            } @else if (currentSection === 'Cadastro') {
                <app-register></app-register>
            } @else {
                <div></div>
            }
        </div>
    </div>
</div>