<div class="w-full bg-background flex flex-col flex-1 justify-between">
    <div class="flex flex-col justify-between">
        <div class="flex flex-col gap-4">
            @for (item of getMenuItems(); track $index) {
            <a [routerLink]="item.path" class='flex items-center gap-2 rounded-tr-lg rounded-br-lg border-l-3 px-2 py-2'
                [style.background-color]="item.selected?'color-mix(in srgb, var(--color-primary) 20%, transparent)':'#ef444400'"
                [style.border-color]="item.selected?'var(--color-secondary)':'#ef444400'">
                <mat-icon style="font-size: 23px; width: 22px; height: 22px; color: var(--text-black); opacity: 0.6;"
                    [fontSet]="true ? 'material-icons-outlined' : 'material-icons'"
                    [style.color]="item.selected?'var(--color-secondary)':'#3A3C3C'">
                    {{ item.icon }}
                </mat-icon>
                <p class="text-md text-text-black/70" [style.color]="item.selected?'var(--color-secondary)':'#3A3C3C'">{{ item.title }}
                </p>
            </a>
            }
        </div>
        <div class="flex items-center justify-between">
            <div class="flex items-center gap-4">
                <div [style.background-color]="avatarColor"
                    class="rounded-full w-10 h-10 flex items-center justify-center">{{ getInitials() }}</div>
                <p>{{ username }}</p>
            </div>
            <mat-icon (click)="logout()" class="cursor-pointer" style="font-size: 20px; color: var(--text-black); opacity: 0.6;"
                [fontSet]="true ? 'material-icons-outlined' : 'material-icons'">exit_to_app</mat-icon>
        </div>

    </div>
</div>