/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --color-primary: #76B6C4;
  --color-secondary: #97CA9C;

  --color-background: #ECEAE3;
  --color-surface: #8FD6CA;

  --color-text-black: #3A3C3C;
  --color-text-white: #EEF6F6;
  --color-gray-background: #f5f5f5;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: inherit !important;
  transition: background-color 9999s ease-in-out 0s;
}
* {
  font-family: 'Inter', sans-serif;
}
app-dashboard-sidemenu {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%;
}
html, body, app-root {
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  display: block;
}
.p-drawer {
    background-color: var(--color-background) !important;
}
.p-toast {
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: 90vw !important;
  max-width: 360px !important;
}
/* app.component.css */
.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: var(--color-background);
}

.spinner {
  width: 40px;
  height: 40px;
  border: 3px solid #e0e0e0;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}