<p-dialog [(visible)]="isModalVisible" [modal]="true" [header]="title" [style]="{ width: '90%'}" >
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-16 w-full">
        <div>
            <h1>Nome</h1>
            <app-input id="name" type="name" formControlName="name" [class.error]="name.invalid && name.touched"
                icon="edit" placeholder="Nome do projeto..."></app-input>
            <span class="text-red-500" *ngIf="name.touched && name.hasError('required')">
                Nome é obrigatório
            </span>
        </div>
        <div>
            <h1>Link do Repositório</h1>
            <app-input id="repoLink" type="repoLink" formControlName="repoLink"
                [class.error]="repoLink.invalid && repoLink.touched" icon="repoLink"
                placeholder="Link do Repositório..."></app-input>
            <span class="text-red-500" *ngIf="repoLink.touched && repoLink.hasError('required')">
                Link do Repositório é obrigatório
            </span>
        </div>
        <div>
            <h1>Dono do Repositório</h1>
            <app-input id="owner" type="owner" formControlName="owner" [class.error]="owner.invalid && owner.touched"
                icon="owner" placeholder="Dono do Repositório..."></app-input>
            <span class="text-red-500" *ngIf="owner.touched && owner.hasError('required')">
                Dono do Repositório é obrigatório
            </span>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <button class=" w-28 h-9 rounded-lg text-text-black" (click)="isModalVisible = false">Cancelar</button>
        <button class="bg-primary w-28 h-9 rounded-lg text-text-white" (click)="onSubmit()">Criar Projeto</button>
    </ng-template>
</p-dialog>
<button (click)="isModalVisible = true"
    class="bg-primary flex items-center w-fit min-w-42 justify-center font-semibold text-text-white rounded-lg h-9 gap-2"><mat-icon
        style="font-size: 14px; width: 16px; height: 16px;">add</mat-icon><span class="text-md">Novo
        Projeto</span></button>